@using WebCarSell.Models;
@model ModelsListModel
@{
    ViewData["Title"] = "List";
}

<h1>All Announcements</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Mileage</th>
            <th>Engine Volume</th>
            <th>Color</th>
            <th>Transmission</th>
            <th>Drive</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>        
@foreach (var item in Model.ModelView) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mileage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Engine_Volume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transmission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="EditModel" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

