 
@model WebCarSell.Models.ListModelView;


    <div class="container-xl" style="background-color:white;">
        <div class="row">          
            <div class="col" style="text-align: center;" >

                    @foreach(var carmodel in Model.Models)
                    {
                        <div class="container-fluid border">
                            <div class="row">
                                <div class="col">
                                    <label style="font-weight:bold">Name:</label>
                                </div>
                                <div class="col">
                                   <div>@carmodel.Name</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label style="font-weight:bold">Year:</label>
                                </div>
                                <div class="col">
                                   <div>@carmodel.Year</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label style="font-weight:bold">Mileage:</label>
                                </div>
                                <div class="col">
                                   <div>@carmodel.Mileage</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label style="font-weight:bold">Drive:</label>
                                </div>
                                <div class="col">
                                   <div>@carmodel.Drive</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label style="font-weight:bold">Price:</label>
                                </div>
                                <div class="col">
                                   <div>@carmodel.Price</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label style="font-weight:bold">Color:</label>
                                </div>
                                <div class="col">
                                   <div>@carmodel.Color</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label style="font-weight:bold">Engine_Volume:</label>
                                </div>
                                <div class="col">
                                   <div>@carmodel.Engine_Volume</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label style="font-weight:bold">Owner Phone:</label>
                                </div>
                                <div class="col">
                                   <div>@carmodel.OwnerPhone</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label style="font-weight:bold">Description:</label>
                                </div>
                                <div class="col">
                                   <div>@carmodel.Description</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label style="font-weight:bold">Count of Modifications:</label>
                                </div>
                                <div class="col">
                                   <div>@carmodel.CountOfModifications</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label style="font-weight:bold">Summary Value Of Modifications:</label>
                                </div>
                                <div class="col">
                                   <div>@carmodel.SummaryPriceOfModification</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class=col>
                                    <a class="btn btn-outline-danger" tabindex="-1" role="button" aria-disabled="true" style="font-weight: bold; margin-top:10px; margin-left:20px" asp-area="" asp-controller="CreateModel" asp-action="EditModel" asp-route-id="@carmodel.Id">Edit my announcement</a>
                                </div>
                                <div class="col">
                                     <a class="btn btn-outline-danger" tabindex="-1" role="button" aria-disabled="true" style="font-weight: bold; margin-top:10px; margin-left:20px" asp-area="" asp-controller="CreateModel" asp-action="DeleteModel" asp-route-id="@carmodel.Id">Delete announcement</a>
                                </div>
                           </div>
                           <div style="margin-bottom:10px"></div>
                                
                           @* <div class="row">
                                <div class="col">
                                    <label style="font-weight:bold">Picture</label>
                                </div>
                                <div class="col">
                                     
                                 @if (carmodel.Picture != null)
                                    {
                                        
                                        <img style='width:80px; height:60px;' src="data:image/jpeg;base64,@carmodel.Picture)" />
                                    }
                                </div>
                            </div>*@
                        </div>
                    }   
        </div>
  </div>
  
 